---
# GENERAL CONFIG
trim : 7
vector_length : 300
testfile : "./dat/test/test.reduced"
en_vector : "./vec/en.reduced.v2"
ru_vector : "./vec/ru.reduced.v3"
reduce_dims : 50

# DOC2VEC
root : "d2v"
vocab : "d2v/vocab.p"
dummy : "d2v/test.txt"
model : "d2v/model.gensim"
tokens : "d2v/tokens.dat"

# UNKNOWN N CLUSTER PARAMS
min_samples : .1

# KNOWN N CLUSTER PARAMS
n_clusters : 3
min_clusters : 3
max_clusters : 8
...